@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 dark:bg-gray-900 transition-colors antialiased;
  }
}

@layer utilities {
  .ag-theme-alpine {
    --ag-background-color: theme("colors.gray.100");
    --ag-header-background-color: theme("colors.gray.100");
    --ag-subheader-background-color: theme("colors.gray.100");
    --ag-control-panel-background-color: theme("colors.gray.100");
    --ag-border-color: theme("colors.gray.200");
    --ag-odd-row-background-color: theme("colors.gray.200");
    --ag-row-border-color: theme("colors.gray.200");
    --ag-input-disabled-background-color: theme("colors.gray.300");
  }
  .ag-theme-alpine-dark {
    --ag-background-color: theme("colors.gray.900");
    --ag-header-background-color: theme("colors.gray.900");
    --ag-subheader-background-color: theme("colors.gray.900");
    --ag-control-panel-background-color: theme("colors.gray.900");
    --ag-border-color: theme("colors.gray.800");
    --ag-odd-row-background-color: theme("colors.gray.800");
    --ag-row-border-color: theme("colors.gray.800");
    --ag-input-disabled-background-color: theme("colors.gray.700");
  }
}

/* View Scroll css */
.ag-body-viewport::-webkit-scrollbar-track,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.ag-body-viewport::-webkit-scrollbar,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}

.ag-body-viewport::-webkit-scrollbar-thumb,
.ag-body-horizontal-scroll-viewport::-webkit-scrollbar-thumb {
  background-color: #0ae;
  background-image: -webkit-gradient(
    linear,
    00,
    0100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

/* Toolpanel Scroll css */
.ag-side-bar ::-webkit-scrollbar {
  width: 10px;
  background-color: #f5f5f5;
}

.ag-side-bar ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
  /* border-radius: 10px; */
}

.ag-side-bar ::-webkit-scrollbar-thumb {
  background-color: #0ae;
  background-image: -webkit-gradient(
    linear,
    00,
    0100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
}

/* .ag-virtual-list-viewport::-webkit-scrollbar-thumb,
.ag-tool-panel-wrapper::-webkit-scrollbar-thumb,
.ag-column-drop-list::-webkit-scrollbar-thumb {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.ag-virtual-list-viewport::-webkit-scrollbar-thumb,
.ag-tool-panel-wrapper::-webkit-scrollbar-thumb,
.ag-column-drop-list::-webkit-scrollbar-thumb {
  background-color: #0ae;
  background-image: -webkit-gradient(
    linear,
    00,
    0100%,
    color-stop(0.5, rgba(255, 255, 255, 0.2)),
    color-stop(0.5, transparent),
    to(transparent)
  );
} */

/* Nivo Chart */
.chart-card {
  @apply border border-gray-100 shadow-md rounded py-5 bg-white dark:bg-gray-800 dark:border-gray-800;
}

.chart-title {
  @apply ml-5 text-lg font-semibold dark:text-white;
}

.tooltip {
  @apply absolute top-0 z-10 w-48 p-2 -mt-1 text-sm leading-tight dark:text-white transform -translate-x-1/2 -translate-y-full dark:bg-gray-600 bg-gray-100 text-gray-900 rounded-lg shadow-lg;
}

.tooltip-arrow {
  @apply absolute z-10 w-6 h-6 dark:text-gray-600 text-gray-100 transform -translate-x-1/2 -translate-y-3 fill-current stroke-current;
}
